section {
    display: flex;
    background: rgba(128, 128, 128, .2);
    justify-content: center;
    padding: 8px 0;
}
section div {
    min-width: 32px;
    height: 32px;
    padding: 6px;
    background-color: red;
    margin: 3%;
}
.error {
    color:red;
}
.success {
    color:green;
}
#ausgabe {
    padding-top: 64px;
    background: url('../img/fussballfeld.jpg') center/contain no-repeat;
    height: 75vh;
}